@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.logo-span{
    color: #3498db;
}

.text-small {
    font-size: 0.9rem;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    /* background: #212529;
    border-color: #545454; */
  }
  
  .form-control:focus {
    /* background: #212529; */
  }

.buttonAll{
    background-color: #3498db;
    border: 1px solid #999;
}

.buttonAll:hover{
    background-color: #3498db;
    border: 1px solid #999;
}

.list-unstyled{
}

.linkAll li a{
    color: #212529;
}

.linkAll li a:hover{
    color: #6c757d;
}

.linkAll {
    color: #212529 !important;
}
  
  footer {
    background: #3498db;
  }


.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    left: 40px;
    background-color: #3498db;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #3498db;
    z-index: 100;
  }
  .whatsapp-icon {
    margin-top: 16px;
  }

.logoAll-group{
    color: #fff !important;
    font-family: 'Dancing Script', cursive;
}

.webdesignflex{
    gap: 4rem;
    display: flex;
    justify-content: space-between;
}

.text-white{
    margin-bottom: -1px;
}

.searchsection{
    background: #e6ebf2;
    height: 16vh;
    width: 100%;
}

.searchsectionchild{
    padding-top: 25px;
    padding-left: 19px;
    padding-right: 19px;
}

.searchsection input{
    outline: none;
    border: none;
    background: #fff;
    padding: 9px 30px;
}

.searchsectionchild i{
    background-color: #3498db;
    padding: 8px 15px;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out .5s;
    border: 1px solid #3498db;
}

.searchsectionchild i:hover{
    background: #fff;
    color: #3498db;
}

.categories{
    background-color: #e6ebf2;
    margin-top: 3rem;
}

.categorieschild{
    padding: 23px 19px;
}

.webDevelopment,
.MobileAppDevelopment,
.brandingPublicity{
    border-bottom: 1px solid #999;
    padding-bottom: 7px;
    margin: 10px 0 15px;
    font-size: 13px;
}

.webDevelopment i,
.MobileAppDevelopment i,
.brandingPublicity i,
.maintainace i{
    color: #3498db;
}

.maintainace{
    font-size: 13px;
}

.generalNewsletter{
    background-color: #3498db;
    margin-top: 4rem;
}

.generalNewsletterchild{
    padding: 23px 19px;
}

.generalNewsletterchild h6{
    font-size: 12px;
    color: #fff;
}

.generalNewsletterchild h3{
   color: #fff;
   padding-top: 10px;
   padding-bottom: 25px;
   font-size: 23px;
   position: relative;
}

.active{
    color: #3498db;
}

.generalNewsletterchild h3::after{
    position: absolute;
    content: "";
    background: #fff;
    width: 30%;
    height: 2px;
    left: 0;
    bottom: 5px;
}

.generalNewsletterchild form input{
   display: block;
   width: 100%;
   border: none;
   outline: none;
   margin-bottom: 30px;
   color: #999;
   padding: 10px 20px;
}

.generalNewsletterchild button{
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    padding: 10px 20px;
    color: #3498db;
    background-color: #fff;
    transition: ease-in-out .5s;
}

.generalNewsletterchild button:hover{
    color: #fff;
    background: #3498db;
}

.copyright{
    text-align: center;
    color: #212529 !important;
}

@media screen and (max-width:980px){
    .webdesignflex{
        display: block;
    }

    .searchsection input {
        width: 100%;
      }

      .searchsectionchild {
        padding-top: 40px;
        padding-left: 29px;
        padding-right: 29px;
      }

      .searchsectionchild i {
        background-color: #3498db;
        padding: 8px 35px;
      }
}

  /* for mobile */
  @media screen and (max-width: 767px){
    .whatsapp-icon {
      margin-top: 10px;
    }
    .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 10px;
      left: 10px;
      font-size: 22px;
    }

    .searchsectionchild i {
      padding: 8px 15px;
    }
  }